// ==========================================================================
// Breakpoints
// ==========================================================================

$breakpoints: (
    xs: $screen-xs-min,
    sm: $screen-sm-min,
    md: $screen-md-min,
    lg: $screen-lg-min,
);

$breakpoints-max: (
    xs: $screen-xs-max,
    sm: $screen-sm-max,
    md: $screen-md-max
);

// ==========================================================================
// Colors
// ==========================================================================

$black: #000;
$white: #fff;