// ==========================================================================
// Tables
// ==========================================================================

/*doc
---
title: Tableaux
name: tables
category: Base CSS
---

```html_example
<table class="table">
	<thead>
		<tr>
			<th>Colonne</th>
			<th>Colonne</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Cellule</td>
			<td>Cellule</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>Colonne</td>
			<td>Colonne</td>
		</tr>
	</tfoot>
</table>
```

*/

.table {
	tr {}
	th {}
	td {}

	> thead {
		> tr {
			> th {}
		}
	}

	> tbody {
		> tr {
			> td {}
		}
	}

	> tfoot {
		> tr {
			> td {}
		}
	}
}
